<header class="header">
  <div class="container-nav">
    <a class="logo" href="#">
      <img src="./images/film.png" alt="logo">
      <span class="logo-text">Filmoteka</span>
    </a>
    <nav class="nav">
      <a class="nav-link active-link" href="#">HOME</a>
      <a class="nav-link" href="./librery.html">MY LIBRERY</a>
    </nav>
  </div>
  <form class="search">
    <input class="search-input" type="text" placeholder="Movie search" />
    <button class="search-button" type="button">
      <img src="./images/search.png" alt="search">
    </button>
  </form>
</header>