<header class="header-librery">
  <div class="container-nav">
    <a class="logo" href="#">
      <img src="./images/film.png" alt="logo">
      <span class="logo-text">Filmoteka</span>
    </a>
    <nav class="nav">
      <a class="nav-link" href="./index.html">HOME</a>
      <a class="nav-link active-link" href="#">MY LIBRERY</a>
    </nav>
  </div>
  <form class="search-librery">
    <input class="input-librery" type="radio" name="library" id="check-watch" class="hidden" checked>
    <label class="label-librery" for="check-watch" class="library-label watched">WATCHED</label>
    <input class="input-librery" type="radio" name="library" id="check-queue" class="hidden">
    <label class="label-librery" for="check-queue" class="library-label queue">QUEUE</label>
  </form>
</header>