<main class="main">
  <ul class="cinema-list">
    <li class="film">
      <a href="#" class="link-film">
        <img src="./images/test.png" alt="film" class="img-film">
        <h2 class="tytle-film">film</h2>
        <p class="ganre-film">film</p>
      </a>
    </li>
    <li class="film">
      <a href="#" class="link-film">
        <img src="./images/test.png" alt="film" class="img-film">
        <h2 class="tytle-film">film</h2>
        <p class="ganre-film">film</p>
      </a>
    </li>
    <li class="film">
      <a href="#" class="link-film">
        <img src="./images/test.png" alt="film" class="img-film">
        <h2 class="tytle-film">film</h2>
        <p class="ganre-film">film</p>
      </a>
    </li>
    <li class="film">
      <a href="#" class="link-film">
        <img src="./images/test.png" alt="film" class="img-film">
        <h2 class="tytle-film">film</h2>
        <p class="ganre-film">film</p>
      </a>
    </li>
  </ul>
  <div class="pagination-container">
    <button class="pagination prev">prev</button>
    <ul class="pagination-list">
    </ul>
    <button class="pagination next">next</button>
  </div>
</main>